<div class="page-header">
    <h3>Users for Project <%= @project.title %></h3>
    <strong>(Other than yourself)</strong>
</div>

<table class="table table-striped">
    <thead>
        <tr>
          <th>Email</th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
    </thead>
    <tbody>
        <% @project_users.each do |project_user| %>
            <tr>
                
            </tr>
        <% end %>
    </tbody>
</table>